/* installing the font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*   */

/* the general stiles --------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* the banner styling --------------------*/
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    background-color: gray;
    background-image: url('./images/banner.jpg');
    background-size: cover ;  /*to have the full picture*/
}

.banner_header{
    width: 100%;
    height: 70px;
    /* background-color: rgba(246, 250, 44, 0.5); */
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}

.banner_logo{
    width: 15%;
    height: 70px;
    /* background-color: rgb(255, 255, 0,0.8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_logo_text{
    width: 80%;
    color: rgb(253, 249, 242);
    background-color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500 ;

}

.banner_nav{
    width: 45%;
    height: 70px;
    /* background-color: rgb(68, 0, 255,0.8); */
    
}

.nav_links{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav_link{
    font-family: "Poppins", sans-serif;
    font-weight: 500 ;
    padding: 5px;
    border-radius: 5px;
}

.nav_link:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/*-----------banner detailes styles :)-----------*/
.banner_detailse{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 20px 15%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.banner_detailse_badge{
    width: max-content;
    background-color: rgb(243, 241, 241,0.5);
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}

.banner_detailse_badge:hover{
    background-color: rgb(243, 241, 241);
    cursor: pointer;
}

.banner-detalies-heading{
    font-family: "Poppins", sans-serif;
    font-size: 55PX;
    color: white;
}

.banner-detailse-btn{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 15px 30px;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}

.banner-detalies-booking{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255,0.5);
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.booking-inp{
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    row-gap: 5px;
}

input{
    height: 30px;
    text-indent: 5px;
    font-size: 15px;
}
.booking-inp-button{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 18px 45px;
    background-color: black;
    border: 1px solid black;
    /* border-radius: 50px; */
    color: white;
    cursor: pointer;
}


/* about us section */

.aboutUs{
    width: 100%;
    padding: 50px 15%;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    word-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#aboutUs_lorem{
    font-size: 1.7em;
    font-weight: 500;
}

.aboutUs_icon{
    color: #00dcfc;
    font-size: 2em;
}

/* rooms section */

.rooms{
    width: 100%;
    padding: 50px 15%;
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomsTitle{
    font-size: 2em;
}

.rooms_area{
    width: 100%;
    padding: 20px 0px;
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 55px;
}

.one_room{
    width: 30%;
    height: auto;
    background-color: white;
    overflow: hidden;

}

.room-image{
    width: 100%;
    /* height: 190px; */
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

.room-image:hover{
    transform: scale(1.5);
}
.r_image{
    width: 100%;
}

.img-5{
    margin-top: -100px;

}

.room-detalis{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.room-detalis p{
    font-size: 0.25rm;
}

.room-btn{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

/* subscrip section css */
.subscrip{
    width: 100%;
    padding: 50px 15%;
    display: flex;
    justify-content: space-between;
}

.sub-text{
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sub_logo{
    width: 50%;
    height: 60px;
}


.sub_logo_text{
width: 80%;
color: rgb(253, 249, 242);
background-color: black;
text-align: center;
font-family: "Poppins", sans-serif;
font-weight: 500 ;

}

.sub-desc {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}


.sub-area {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.sub-area p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.sub-form {
    /* background-color: rgb(85, 63, 37); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

.sub-input {
    width: 100%;
    height: 2.5em;
}

.sub-btn {
    padding: 7.5px;
    margin-left: 60%;
    color: aliceblue;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: black;

}

/* food section css */

.food{
    width: 100%;
    height: 90vh;
    padding: 50px 15%;
    background-color: rgb(255, 255, 255);
    background-image: url(./images/restaurant.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.food-detaile {

    width: 70%;
    padding: 15px;
    /* background-color: red; */
    font-family: "Poppins", sans-serif;


}

.food-title-heading{
    font-size: 2em;
}


/* premium rooms css */

.premium{
    width: 100%;
    padding: 50px 15%;
    font-family: "Poppins", sans-serif;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-rooms{
    width: 100%;
    height: 800px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prem-img{
    width: 30%;
    height: 800px;
    /* background-color: aquamarine; */
}

.prem-boxes{
    width: 65%;
    height: 800px;
    /* background-color: rgb(11, 97, 68); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pre-vimg{
    width: 100%;
    height: inherit;
}

.proom-box{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* gallery section */

.gallery{
    width: 100%;
    padding: 50px 15%;
    background-color: #ebebeb;
}

.gal-img{
    width: 33%;
    opacity: 0.7 !important;
    transition: 0.5s;
}
.gal-img:hover{
    cursor: pointer;
    opacity: 1 !important;

}

/* footer section css */

.footer{
    width: 100%;
    padding: 50px 15%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    justify-content: space-between ;

}

.footer-info{
    width: 45%;
    height: 350px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background-color: #2ac0d4; */

}

.plane-logo{
    font-size: 50px;
    color: #ffffff;
}

.footer-contact{
    width: 45%;
    height: 350px;
    padding: 10px;
    color: white;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.pcontact{
    display: flex;
    column-gap: 10px;
}

.logo-1{
    margin-top: 2.5px;
    font-size: 25px;
}

.pcontact h3{
    font-weight: 300;
}

.media-logos{
    width: 100%;
    height: 80px;
    padding: 10px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-2{

    font-size: 35px;
}
